Checks: 'bugprone-*, clang-analyzer-*,misc-include-cleaner,-bugprone-easily-swappable-parameters, -bugprone-unsafe-functions, -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'

